<div style="display: flex; gap: 10px; margin-left: 20px;">
        <button v-on:click=" codigo =! codigo ">Codigos</button>
        <button>
            <a v-bind:href="url" target="_blank" style="color: white; text-decoration: none;">Repositorio Antiguo</a>
        </button>
    </div>


##introduccion a quien soy

    <div style="display: flex; align-items: center; background-color: beige; margin: 20px; border-radius: 12px; border: 1px solid black; border-color: grey; padding: 20px; box-shadow: 2px 2px 12px rgba(19, 18, 18, 0.1);">
    <div style="text-align: center; margin-right: 20px;">
      <a href="https://www.linkedin.com/in/arnau-sola-sig/" target="_blank">
        <img style=" width: 200px; margin-bottom: 10px; " v-bind:src="url">
      </a>
      <h5> 💼 Geoinformation and Geomatics Engineer</h5>
    </div>
    <p>{{ introduccion }}</p>
  </div>


  p {
    text-align: justify;
    margin: 10px;
    margin-left: 60px;
    font-size: 18px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(19, 18, 18, 0.1);
}

h5 {
   text-align: left;
    font-size: 16px;
    margin: 5px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}